{% extends 'base.html' %}

{% block title %}Appointment Search{% endblock %}

{% block body %}
<h1>Search for Appointments</h1>
 <h3>
    You're logged in as {{ session['user'] }}
 </h3>

  <form action="/appointmentresults">
    <div>
      <label for="res-date">
        Enter the date of the reservation you'd like
      </label>
      <input
        id="reservation-date"
        type="date"
        min="{{ current }}"
        name="res-date"
        required />
      <span class="validity"></span>
    </div>
    <br>
    Enter an optimal time range and we will only show appointments in that range
    <br>
    <div>
        <br>
        <label for="start-time">Start Time:</label>
        <select name="start-time" id="start-time-select">
            <option value="00:00">12:00AM</option>
            <option value="00:30">12:30AM</option>
            <option value="01:00">1:00AM</option>
            <option value="01:30">1:30AM</option>
            <option value="02:00">2:00AM</option>
            <option value="02:30">2:30AM</option>
            <option value="03:00">3:00AM</option>
            <option value="03:30">3:30AM</option>
            <option value="04:00">4:00AM</option>
            <option value="04:30">4:30AM</option>
            <option value="05:00">5:00AM</option>
            <option value="05:30">5:30AM</option>
            <option value="06:00">6:00AM</option>
            <option value="06:30">6:30AM</option>
            <option value="07:00">7:00AM</option>
            <option value="07:30">7:30AM</option>
            <option value="08:00">8:00AM</option>
            <option value="08:30">8:30AM</option>
            <option value="09:00">9:00AM</option>
            <option value="09:30">9:30AM</option>
            <option value="10:00">10:00AM</option>
            <option value="10:30">10:30AM</option>
            <option value="11:00">11:00AM</option>
            <option value="11:30">11:30AM</option>
            <option value="12:00">12:00PM</option>
            <option value="12:30">12:30PM</option>
            <option value="13:00">1:00PM</option>
            <option value="13:30">1:30PM</option>
            <option value="14:00">2:00PM</option>
            <option value="14:30">2:30PM</option>
            <option value="15:00">3:00PM</option>
            <option value="15:30">3:30PM</option>
            <option value="16:00">4:00PM</option>
            <option value="16:30">4:30PM</option>
            <option value="17:00">5:00PM</option>
            <option value="17:30">5:30PM</option>
            <option value="18:00">6:00PM</option>
            <option value="18:30">6:30PM</option>
            <option value="19:00">7:00PM</option>
            <option value="19:30">7:30PM</option>
            <option value="20:00">8:00PM</option>
            <option value="20:30">8:30PM</option>
            <option value="21:00">9:00PM</option>
            <option value="21:30">9:30PM</option>
            <option value="22:00">10:00PM</option>
            <option value="22:30">10:30PM</option>
            <option value="23:00">11:00PM</option>
            <option value="23:30">11:30PM</option>
        </select>
    <br>
    <div>
        <br>
        <label for="end-time">End Time:</label>
        <select name="end-time" id="end-time-select">
            <option value="00:00">12:00AM</option>
            <option value="00:30">12:30AM</option>
            <option value="01:00">1:00AM</option>
            <option value="01:30">1:30AM</option>
            <option value="02:00">2:00AM</option>
            <option value="02:30">2:30AM</option>
            <option value="03:00">3:00AM</option>
            <option value="03:30">3:30AM</option>
            <option value="04:00">4:00AM</option>
            <option value="04:30">4:30AM</option>
            <option value="05:00">5:00AM</option>
            <option value="05:30">5:30AM</option>
            <option value="06:00">6:00AM</option>
            <option value="06:30">6:30AM</option>
            <option value="07:00">7:00AM</option>
            <option value="07:30">7:30AM</option>
            <option value="08:00">8:00AM</option>
            <option value="08:30">8:30AM</option>
            <option value="09:00">9:00AM</option>
            <option value="09:30">9:30AM</option>
            <option value="10:00">10:00AM</option>
            <option value="10:30">10:30AM</option>
            <option value="11:00">11:00AM</option>
            <option value="11:30">11:30AM</option>
            <option value="12:00">12:00PM</option>
            <option value="12:30">12:30PM</option>
            <option value="13:00">1:00PM</option>
            <option value="13:30">1:30PM</option>
            <option value="14:00">2:00PM</option>
            <option value="14:30">2:30PM</option>
            <option value="15:00">3:00PM</option>
            <option value="15:30">3:30PM</option>
            <option value="16:00">4:00PM</option>
            <option value="16:30">4:30PM</option>
            <option value="17:00">5:00PM</option>
            <option value="17:30">5:30PM</option>
            <option value="18:00">6:00PM</option>
            <option value="18:30">6:30PM</option>
            <option value="19:00">7:00PM</option>
            <option value="19:30">7:30PM</option>
            <option value="20:00">8:00PM</option>
            <option value="20:30">8:30PM</option>
            <option value="21:00">9:00PM</option>
            <option value="21:30">9:30PM</option>
            <option value="22:00">10:00PM</option>
            <option value="22:30">10:30PM</option>
            <option value="23:00">11:00PM</option>
            <option value="23:30">11:30PM</option>
        </select>
    <br>
    <div>
        <br>
      <input type="submit" value="Book!" />
    </div>
  </form>

  <form>

  </form>


<script>
    document.getElementById("reservation-date").stepUp(30);
</script>

{% endblock %}